@media (max-width: 767px) {
  /* line 10, ../sass/main.scss */
  .container > .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 33, ../sass/main.scss */
#color {
  color: #FF0044;
}

/* line 36, ../sass/main.scss */
.play-list {
  color: #aaa;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 42, ../sass/main.scss */
.play-list:not(:last-child) {
  margin-bottom: 40px;
}
/* line 45, ../sass/main.scss */
.play-list.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 50, ../sass/main.scss */
.play-list-details {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: baseline;
  -webkit-align-items: baseline;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/* line 61, ../sass/main.scss */
.play-list-title {
  font-weight: 100;
  text-align: left;
  margin: 0 0 5px 0;
  font-size: 1.3em;
  line-height: 0.9em;
  flex-grow: 1;
  flex-shrink: 0;
}

/* line 70, ../sass/main.scss */
.play-list-artist {
  text-align: left;
  color: #555;
  font-weight: 700;
  font-size: 0.875em;
  letter-spacing: -0.02em;
  margin-bottom: 5px;
}

/* line 78, ../sass/main.scss */
.play-list-items {
  margin: 0;
  padding-left: 30px;
}

/* line 82, ../sass/main.scss */
.play-list-item {
  display: flex;
  display: -webkit-flex;
  align-items: baseline;
  -webkit-align-items: baseline;
  font-size: 1em;
  list-style-type: none;
  padding: 7px;
  text-align: left;
  cursor: pointer;
}
/* line 92, ../sass/main.scss */
.play-list-item:not(:last-child) {
  border-bottom: 1px solid #333;
}
/* line 95, ../sass/main.scss */
.play-list-item:hover:not(.selected) {
  color: #000;
  background-color: #FF0044;
}
/* line 98, ../sass/main.scss */
.play-list-item:hover:not(.selected) .item-count {
  color: #000;
}
/* line 100, ../sass/main.scss */
.play-list-item.selected {
  color: #FF0044;
}
/* line 102, ../sass/main.scss */
.play-list-item.selected .item-count {
  color: #FF0044;
}

/* line 105, ../sass/main.scss */
.item-count {
  font-weight: 500;
  color: #444;
  margin-right: 10px;
}

/* line 110, ../sass/main.scss */
.item-thumb {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("/img/Naa Naa Wah Wah.jpg");
  position: relative;
  top: 3px;
}

/* line 120, ../sass/main.scss */
#wavesurfer {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0px;
  height: 0px;
  overflow-y: hidden;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

/* line 127, ../sass/main.scss */
wave {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 130, ../sass/main.scss */
main {
  padding: 100px 20px 40px 20px;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-transition: padding-top 0.5s ease;
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -ms-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}

/* line 137, ../sass/main.scss */
.sub-nav {
  background-color: #121212;
  position: relative;
}
/* line 139, ../sass/main.scss */
.sub-nav.hidden {
  height: 0;
}

/* line 144, ../sass/main.scss */
.loadProgress {
  width: 0%;
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: #FF0044;
  position: absolute;
  top: -1px;
}

/* line 153, ../sass/main.scss */
.navbar-header {
  width: 100%;
  padding: 8px 0 10px 0;
  position: relative;
}

/* line 158, ../sass/main.scss */
.navbar-fixed-top {
  background-color: #000;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #FF0044;
}

/* line 163, ../sass/main.scss */
.current_song {
  font-size: 1em;
  color: #999;
  display: flex;
  display: -webkit-flex;
}

/* line 169, ../sass/main.scss */
.current_song-title-time {
  display: inline-block;
  margin-right: 20px;
}
/* line 172, ../sass/main.scss */
.current_song-title-time .hidden {
  display: none;
}

/* line 177, ../sass/main.scss */
.current_song-title {
  display: inline-block;
  margin-top: 2px;
  color: #FF0044;
  font-weight: 300;
  margin-right: 10px;
}

/* line 184, ../sass/main.scss */
.current_song-time {
  display: inline-block;
  color: #666;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 2px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

/* line 193, ../sass/main.scss */
.current_song-controls {
  float: right;
  position: relative;
  top: 2px;
  right: 2px;
}

/* line 199, ../sass/main.scss */
.btn {
  outline: none !important;
  background-color: #000;
  outline: none;
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  width: 30px;
  height: 30px;
  border: none;
}
/* line 215, ../sass/main.scss */
.btn:not(:last-child) {
  margin-right: 3px;
}
/* line 218, ../sass/main.scss */
.btn i {
  font-size: 22px;
  color: #FF0044;
}

/* line 223, ../sass/main.scss */
.logo {
  margin: 0 20px 8px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: -2px;
  display: inline-block;
  padding-bottom: 0px;
}
/* line 231, ../sass/main.scss */
.logo span {
  vertical-align: middle;
}
/* line 232, ../sass/main.scss */
.logo span:nth-child(1) {
  color: #ccc;
}
/* line 233, ../sass/main.scss */
.logo span:nth-child(2) {
  color: #888;
}
/* line 234, ../sass/main.scss */
.logo span:nth-child(3) {
  color: #FF0044;
}

/* line 236, ../sass/main.scss */
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #111;
  height: 100%;
  background-attachment: fixed;
  background-image: url("../img/fnj.jpg");
  background-repeat: repeat;
  background-position: center;
  font-size: 16px;
}
