@media (max-width: 767px) {
  /* line 10, ../sass/main.scss */
  .container > .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  /* line 17, ../sass/main.scss */
  .play-list-items {
    padding-left: 0 !important;
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 39, ../sass/main.scss */
#color {
  color: #FF0044;
}

/* line 42, ../sass/main.scss */
.play-list {
  color: #aaa;
  font-weight: 300;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 48, ../sass/main.scss */
.play-list:not(:last-child) {
  margin-bottom: 40px;
}
/* line 51, ../sass/main.scss */
.play-list.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 60, ../sass/main.scss */
.play-list-details {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 14px;
  border-top: 0px solid #333;
  margin-bottom: 7px;
  text-align: left;
}

/* line 68, ../sass/main.scss */
.play-list-title {
  font-weight: 100;
  text-align: left;
  margin: 0 0 5px 0;
  font-size: 1.3em;
  line-height: 0.9em;
  display: inline-block;
  padding: 0;
  margin-right: 20px;
}

/* line 82, ../sass/main.scss */
.play-list-artist {
  text-align: left;
  color: #555;
  font-weight: 700;
  font-size: 0.875em;
  letter-spacing: -0.02em;
  display: inline-block;
  padding: 0;
}

/* line 95, ../sass/main.scss */
.play-list-items {
  margin: 0;
  padding-left: 30px;
}

/* line 99, ../sass/main.scss */
.play-list-item {
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: baseline;
  -webkit-align-items: baseline;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  font-size: 1em;
  list-style-type: none;
  padding: 7px;
  padding-right: 14px;
  text-align: left;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.85);
  float: left;
  border-top: 0px solid #333;
}
/* line 110, ../sass/main.scss */
.play-list-item::after {
  clear: both;
}
/* line 114, ../sass/main.scss */
.play-list-item:not(:last-child) {
  margin-bottom: 7px;
}
/* line 117, ../sass/main.scss */
.play-list-item:hover:not(.selected) {
  color: #000;
  background-color: #FF0044;
}
/* line 120, ../sass/main.scss */
.play-list-item:hover:not(.selected) .item-count {
  color: #000;
}
/* line 122, ../sass/main.scss */
.play-list-item.selected {
  color: #FF0044;
}
/* line 124, ../sass/main.scss */
.play-list-item.selected .item-count {
  color: #FF0044;
}

/* line 127, ../sass/main.scss */
.item-name {
  text-transform: capitalize;
}

/* line 130, ../sass/main.scss */
.item-count {
  font-weight: 500;
  color: #444;
  margin-right: 10px;
  flex-shrink: 0;
}

/* line 136, ../sass/main.scss */
.item-thumb {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("/img/Naa Naa Wah Wah.jpg");
  position: relative;
  top: 3px;
  flex-shrink: 0;
}

/* line 147, ../sass/main.scss */
#wavesurfer {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0px;
  height: 0px;
  overflow-y: hidden;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  transition: height 0.5s ease;
  position: relative;
}

/* line 155, ../sass/main.scss */
wave {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 158, ../sass/main.scss */
.play-mobile {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  cursor: pointer;
}
/* line 165, ../sass/main.scss */
.play-mobile .play-icon {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-color: #FF0044;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  color: #000;
  font-size: 25px;
}

/* line 176, ../sass/main.scss */
main {
  padding: 100px 20px 40px 20px;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-transition: padding-top 0.5s ease;
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -ms-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}

/* line 183, ../sass/main.scss */
.control-nav {
  background-color: #000;
}

/* line 186, ../sass/main.scss */
.sub-nav {
  background-color: #222;
  position: relative;
}
/* line 188, ../sass/main.scss */
.sub-nav.hidden {
  height: 0;
}

/* line 193, ../sass/main.scss */
.loadProgress {
  width: 0%;
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: #FF0044;
  position: absolute;
  top: -1px;
}

/* line 202, ../sass/main.scss */
.navbar-header {
  width: 100%;
  padding: 8px 0 10px 0;
  position: relative;
}

/* line 207, ../sass/main.scss */
.navbar-fixed-top {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #FF0044;
}

/* line 212, ../sass/main.scss */
.current_song {
  font-size: 1em;
  color: #999;
  display: flex;
  display: -webkit-flex;
}

/* line 217, ../sass/main.scss */
.current_song-title-time {
  display: inline-block;
  margin-right: 20px;
}
/* line 220, ../sass/main.scss */
.current_song-title-time .hidden {
  display: none;
}

/* line 225, ../sass/main.scss */
.current_song-title {
  display: inline-block;
  margin-top: 2px;
  color: #FF0044;
  font-weight: 300;
  margin-right: 10px;
  text-transform: capitalize;
}

/* line 233, ../sass/main.scss */
.current_song-time {
  display: inline-block;
  color: #666;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 2px;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}

/* line 241, ../sass/main.scss */
.current_song-controls {
  float: right;
  position: relative;
  top: 2px;
  right: 2px;
}

/* line 247, ../sass/main.scss */
.btn {
  outline: none !important;
  background-color: #000;
  outline: none;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-basis: auto;
  -webkit-flex-basis: auto;
  width: 30px;
  height: 30px;
  border: none;
}
/* line 257, ../sass/main.scss */
.btn:not(:last-child) {
  margin-right: 3px;
}
/* line 260, ../sass/main.scss */
.btn i {
  font-size: 22px;
  color: #FF0044;
}

/* line 265, ../sass/main.scss */
.logo {
  margin: 0 20px 8px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: -2px;
  display: inline-block;
  padding-bottom: 0px;
}
/* line 273, ../sass/main.scss */
.logo span {
  vertical-align: middle;
}
/* line 274, ../sass/main.scss */
.logo span:nth-child(1) {
  color: #ccc;
}
/* line 275, ../sass/main.scss */
.logo span:nth-child(2) {
  color: #888;
}
/* line 276, ../sass/main.scss */
.logo span:nth-child(3) {
  color: #FF0044;
}

/* line 278, ../sass/main.scss */
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #111;
  height: 100%;
  background-attachment: fixed;
  background-image: url("../img/fnj.jpg");
  background-repeat: repeat;
  background-position: center;
  font-size: 16px;
}
