// settings - includes all $variables (colors, etc), @mixin, @function, and @media
@import 'settings';

$color-light: #aaa;
$blue: #00C7FF;
$red: #FF0044;
$color: $red;

@media (max-width: 767px) {
  .container > .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
  }

}
@media (max-width: 500px) {
  .play-list-items {
  	padding-left: 0 !important;
  }
}

@-moz-keyframes spin {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform:rotate(0deg); }
  100% { -ms-transform:rotate(360deg); }
}
@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
$bgColor: rgba(0,0,0,0.95);
#color {
	color: $color;
}
.play-list {
	color: #aaa;
	font-weight: 300;
	//background-color: $bgColor;
	padding: 20px;
	@include border-radius(10px);
	&:not(:last-child) {
		margin-bottom: 40px;
	}
	&.row {
		margin-left: 0;
		margin-right: 0;
	}
}

$stickerBorder: 1px solid #333;
$padding: 7px;
$marginBottom: 7px;
.play-list-details {
	//@include flex( flex, flex-start, baseline, wrap );
	background-color: $bgColor;
	padding: $padding*2;
	border-top: $stickerBorder;
	margin-bottom: $marginBottom;
	text-align: left;
}
.play-list-title {
	font-weight: 100;
	text-align: left;
	margin: 0 0 5px 0 ;//$marginBottom 0;
	font-size: 1.3em;
	line-height: 0.9em;
	//@include flex-size( 1, 0 );
	//background-color: $bgColor;
	//float:left;
	display: inline-block;
	padding: 0;//$padding*2;
	// border-top: $stickerBorder;
	margin-right: 20px;
}
.play-list-artist {
	text-align: left;
	color: #555;
	font-weight: 700;
	font-size: 0.875em;
	letter-spacing: -0.02em;
	// margin-bottom: $marginBottom;
	// background-color: $bgColor;
	// float:left;
	display: inline-block;
	padding: 0;//$padding*2;
	// border-top: 1px solid #333;
}
.play-list-items {
	margin: 0;
	padding-left: 30px;
}
.play-list-item {
	@include flex( inline-flex, flex-start, baseline, nowrap );
	font-size: 1em;
	list-style-type: none;
	padding: $padding;
	padding-right: $padding * 2;
	text-align: left;
	cursor: pointer;
	background-color: $bgColor;
	float:left;
	border-top: $stickerBorder;
	&::after {
		clear: both;
	}
	
	&:not(:last-child) {
		margin-bottom: $marginBottom;	
	}
	&:hover:not(.selected) {
		color: #000;
		background-color: $color;
		.item-count { color: #000; }
	}
	&.selected {
		color: $color;
		.item-count { color: $color; }
	}
}
.item-name {
}
.item-count {
	font-weight: 500;
	color: #444;
	margin-right: 10px;
	flex-shrink:0;
}
.item-thumb {
	margin-right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-image: url('/img/Naa Naa Wah Wah.jpg');
	position:relative;
	top: 3px;
	flex-shrink:0;
}
#wavesurfer {
	@include box-sizing(content-box);
	padding: 0px;
	height: 0px;
	overflow-y: hidden;
	@include transition( height 0.5s ease );
	position:relative;
}
wave {
	@include box-sizing(content-box);
}
.play-mobile {
	position:absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	@include flex( flex, center, center );
	cursor: pointer;
	.play-icon {
		$side: 60px;
		height: $side;
		width: $side;
		@include border-radius( 30px );
		background-color: $color;
		@include flex( flex, center, center );
		color: #000;
		font-size: 25px;
	}
}
main {
	padding: 100px 20px 40px 20px;
	text-align: center;
	box-sizing: border-box;
	overflow-x: hidden;
	@include transition( padding-top 0.5s ease );
}
.control-nav {
	background-color: #000;
}
.sub-nav {
	background-color: #222;//#121212;
	&.hidden {
		height: 0;
	}
	position:relative;
}
.loadProgress {
	width: 0%;
	padding: 0;
	margin: 0;
	height: 1px;
	background-color: $color;
	position:absolute;
	top: -1px;
}
.navbar-header {
	width: 100%;
	padding: 8px 0 10px 0;
	position: relative;
}
.navbar-fixed-top {
	//background-color: #000; //rgba(0,0,0,0.85);
	@include box-shadow( 0 1px 5px 0 rgba(0,0,0,0.5) );
	border-bottom: 1px solid $color;
}
.current_song {
	font-size: 1em;
	color: #999;
	@include flex( flex );
}
.current_song-title-time {
	display: inline-block;
	margin-right: 20px;
	.hidden {
		display:none;
	}
}
$marginTop: 2px;
.current_song-title {
	display:inline-block;
	margin-top: $marginTop;
	color: $color;
	font-weight: 300;
	margin-right: 10px;
}
.current_song-time {
	display:inline-block;
	color: #666;
	font-weight: 500;
	letter-spacing: -1px;
	margin-top: $marginTop;
	@include flex-size( 0, 0 );
}
.current_song-controls {
	float: right;
	position: relative;
	top: 2px;
	right: 2px;
}
.btn {
	outline: none !important;
	$side: 30px;
	background-color: #000;
	outline: none;
	@include flex( inline-flex, center, center );
	@include flex-size( 0 );
	width: $side;
	height: $side;
	border: none;
	&:not(:last-child) {
		margin-right: 3px;
	}
	i {
		font-size: 22px;
		color: $color;
	}
}
.logo {
	margin:0 20px 8px 0;
	font-weight: 400;
	font-size:30px;
	line-height:20px;
	letter-spacing: -2px;
	display:inline-block;
	padding-bottom: 0px;
	span { vertical-align: middle; }
	span:nth-child(1) { color: #ccc; }
	span:nth-child(2) { color: #888; }
	span:nth-child(3) { color: $color; }
}
html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #111;
	height: 100%;
	background-attachment: fixed;
	background-image: url('../img/fnj.jpg');
	background-repeat: repeat;
	background-position: center;
	font-size: 16px;
}